.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: rgb(8, 0, 255);
    font-size: 50px;
    color:aliceblue;

}

.fade:hover{
    background-color: rgb(0, 204, 255);
}

table,tr,td,th {
    border: 1px solid black;
}


tr:nth-child(even) {
    background-color: #9ef5c7;
}

tr:nth-child(odd){
    background-color: rgb(236, 246, 245);
}

::placeholder{
    color: red;
    
}
a:link { 
    text-decoration: none; 
    color: black;
}
 li:hover{
    color:yellow;
 }
 a:hover{
    color:rgb(8, 115, 8)
}
p:nth-child(even){
    color: red;
}
p:nth-child(odd){
    color:green;
}
.yellow{
    color: yellow;
}

