h1{
    background-color: green;
    text-align: center;
}
.bold{
    font-weight: bold; 
}
p{
    text-align: justify;
}
.green{ color:green;}

.red{ color: red;}

.space{
    word-spacing: 630px;
}
p.space1{
    height: 45px;
};